.header {
  background-color: var(--bg);
  color: var(--bg-text);
  height: var(--header);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__content {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__menu-btn {
    z-index: 11;
  }

  &__logo {
    max-width: 45px;
    max-height: 45px;
    margin: 10px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav {
    background-color: var(--bg);
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    position: fixed;
    overflow-y: auto;
    padding: 20px 0;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 60%;
    height: 100%;
    opacity: 0;

    &__box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 10px;
    }

    &__list {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }

    &__item a {
      display: inline-block;
      position: relative;
      text-decoration: none;
      padding: 11px 0;
      font-size: 20px;
      color: var(--bg-text);
      transition: all .3s;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 3px;
        transform: scaleX(0);
        background-color: var(--bg);
        transition: transform 0.3s;
      }
    }

    &__item._active {
      & a {
        color: var(--active);
      }

      & a:after {
        transform: scale(1);
        background-color: var(--active);
      }
    }
  }

  .nav._show {
    z-index: 11;
    transform: translateX(0%);
    opacity: 1;
  }

  @media (min-width: 768px) {
    .nav {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 0;
      transform: translateX(0);
      opacity: 1;
      gap: 40px;
      max-width: 85%;
      width: 85%;

      &__box {
        padding: 0;
        order: 1;
      }

      &__list {
        margin: 0;
        flex-direction: row;
        gap: 25px;
      }

      &__item a {
        padding: 19px 0;
      }
    }

    .header__box {
      display: none;
    }
  }

  .overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);

    z-index: 2;
    cursor: pointer;
    backdrop-filter: blur(5px);

    &._show {
      display: block;
    }
  }
}