<header class="header">
  <div class="container">
    <div class="header__content">

      <div class="header__logo">
        <img src="js.svg" alt="logo">
      </div>

      <div class="header__box">
        
        <div class="header__menu-btn">
          <load="/src/img/icons/menuBtn/menu-btn.html" />
        </div>
      </div>
      
      <nav class="nav">
        <div class="nav__box">
          <div class="header__theme-btn">
            <load="/src/img/icons/themeBtn/theme-btn.html" />
          </div>
        </div>
        <!-- <div class="nav__box">
          <button class="nav__btn _resize">
            <img src="icons/max-size.svg" width="32" height="32" alt="resize">
          </button>
          <button class="nav__btn _theme-btn">
            <img src="icons/moon.svg" width="45" height="45" alt="theme">
          </button>
        </div> -->
        <ul class="nav__list">
          <li class="nav__item _active">
            <a href="#home" data-link="home">
              Главная
            </a>
          </li>
          <li class="nav__item">
            <a href="#products" data-link="products">
              Товары
            </a>
          </li>

          <li class="nav__item">
            <a href="#order" data-link="order">
              Заказ
            </a>
          </li>

          <li class="nav__item">
            <a href="#delivery" data-link="delivery">
              Доставка
            </a>
          </li>

          <li class="nav__item">
            <a href="#contacts" data-link="contacts">
              Контакты
            </a>
          </li>
        </ul>

      </nav>

      <div class="overlay"></div>
    </div>
  </div>
</header>