:root {
  // _____ Vars _____
  --header: 65px;
  // --header-mobile: 45px;

  //_____ Colors _____
  --bg: #15665d;
  --bg-text: #ffffe0d6;
  --bg-text1: #afdfac;
  --bg-text2: #a7db98;
  --active: #d0ce43;
}